<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Plus Crypto</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body style="background-color: #f1f3f5;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
            <a class="navbar-brand" href="#">
                <img src="/assets/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
                <span class="brand-title">Company Plus Crypto</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom" th:href="@{/crypto}">Tìm tiền kỹ thuật số</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom" th:if="${#authentication.principal == 'anonymousUser'}" th:href="@{/login}">Login</a>
                        <a class="nav-link nav-link-custom" th:if="${#authentication.principal != 'anonymousUser'}" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="filter-section-modern">
            <div class="search-box">
                <input type="text" class="search-input-modern" id="companyName" placeholder="Tìm kiếm công ty theo tên, mã hoặc lĩnh vực">
                <button id="filterButton" class="btn-search-modern">Tìm kiếm</button>
            </div>
        </div>

        <div id="results">
            <!-- Filtered results will be displayed here -->
        </div>
        <div id="companyDetails">
            <!-- Company details will be displayed here -->
        </div>
    </div>
    <footer class=" footer mt-auto py-3">
        <div class="container">
            <div class="footer-modern" style="padding: 10px;">
                <!-- Phần trên: Liên kết nhanh -->
                <div class="footer-top d-flex justify-content-between align-items-center">
                    <div class="footer-logo">
                        <img src="/assets/logo.png" alt="Logo" class="logo">
                        <span>Company Plus Crypto</span>
                    </div>
                    <div class="footer-links">
                        <a href="#about">Về chúng tôi</a>
                        <a href="#services">Dịch vụ</a>
                        <a href="#contact">Liên hệ</a>
                        <a href="#policy">Chính sách</a>
                    </div>
                </div>

                <!-- Phần dưới: Thông tin bản quyền -->
                <div class="footer-bottom text-center">
                    <span class="text-muted">© 2024 Company Plus Crypto. All rights reserved.</span>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/script.js"></script>
    
    <script>
        var isAdmin = /*[[${#authorization.expression('hasRole(''ADMIN'')')}]]*/ false;
        function changePage(element) {
            var page = element.getAttribute('data-page');
            var size = element.getAttribute('data-size');
            var name = element.getAttribute('data-name');
            
            $.ajax({
                type: 'GET',
                data: {
                    page: page,
                    size: size,
                    stockName: name,
                    name: name
                },
                url: '/company/pagination', // Replace with the actual API endpoint
                success: function(response) {
                    $('#companyTable tbody').html('');
                    response['content'].forEach(function(company) {
                        let row = `<tr data-id="${company.id}">
                                        <td>${company.name}</td>
                                        <td>${company.sector}</td>
                                        <td>${company.stockCode}</td>`;
                        if (isAdmin) {
                            row += `<td>
                                        <button class="btn btn-primary" onclick="editCompany(${company.id})">Sửa</button>
                                        <button class="btn btn-danger" onclick="deleteCompany(${company.id})">Xoá</button>
                                        <button class="btn btn-info" onclick="viewEvents(${company.id})">Events</button>
                                    </td>`;
                        }
                        row += `</tr>`;
                        $('#companyTable tbody').append(row);
                    });

                    // Update pagination
                    var paginationHtml = '<ul class="pagination justify-content-center">';
                    if (response.pageable.pageNumber > 0) {
                        paginationHtml += `<li class="page-item">
                            <a class="page-link" href="javascript:void(0);" data-page="${response.pageable.pageNumber - 1}" data-size="${response.pageable.pageSize}" data-name="${name ? name : ''}" onclick="changePage(this)">Previous</a>
                        </li>`;
                    } else {
                        paginationHtml += `<li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0);">Previous</a>
                        </li>`;
                    }
                    for (var i = 0; i < response.totalPages; i++) {
                        paginationHtml += `<li class="page-item ${i == response.pageable.pageNumber ? 'active' : ''}">
                            <a class="page-link" href="javascript:void(0);" data-page="${i}" data-size="${response.pageable.pageSize}" data-name="${name ? name : ''}" onclick="changePage(this)">${i + 1}</a>
                        </li>`;
                    }
                    if (response.pageable.pageNumber < response.totalPages - 1) {
                        paginationHtml += `<li class="page-item">
                            <a class="page-link" href="javascript:void(0);" data-page="${response.pageable.pageNumber + 1}" data-size="${response.pageable.pageSize}" data-name="${name ? name : ''}" onclick="changePage(this)">Next</a>
                        </li>`;
                    } else {
                        paginationHtml += `<li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0);">Next</a>
                        </li>`;
                    }
                    paginationHtml += '</ul>';

                    document.getElementById('pagination').innerHTML = paginationHtml;
                    setupRowClickEvent();
                }
            });
}
        isAdmin = [[${#authorization.expression('hasRole(''ADMIN'')')}]] ? true : false;
        $(document).ready(function() {
            $('#filterButton').click(function() {
                var companyName = $('#companyName').val();
                // var stockCode = $('#stockCode').val();
                // var sector = $('#sector').val();

                $.ajax({
                    url: '/company/find',
                    method: 'GET',
                    data: {
                        name: companyName,
                        stockCode: companyName,
                        sector: companyName
                    },
                    success: function(response) {
                        $('#results').html(response);
                        setupRowClickEvent();
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            });
            $('#filterButton').trigger('click');
        });
    </script>
    
</body>
</html>